 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="{% url 'about' %}" class="logo d-flex align-items-center ">
            <span> About US </span>
          </a>
          <p>Want an creative website for you? Here your seacrh stops. We provide Website optimization using Ai-algorithms. </p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="#">Services</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Performance Optimization</a></li>
            <li><a href="#">Conversion Rate</a></li>
            <li><a href="#">Content optimization</a></li>
            <li><a href="#">Continuous Monitoring and Maintenance</a></li>
            <li><a href="#">User Engagement</a></li>
            <li><a href="#">Support and Consultation</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p class="mt-4"><strong>Phone:</strong> <span>+91 8795172752</span></p>
          <p><strong>Email:</strong> <span>kashyap@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center bg-dark text-white mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">Webto</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a class="text-danger">Indubala and Sunanya</a>
      </div>
    </div>

  </footer><!-- End Footer -->
